#title {
  color: rgba(136, 80, 205, 0.799); /* Sets the text color to blue */
  font-size: 20px; /* Sets the font size to 18 pixels */
  background-color: rgba(179, 226, 232, 0.184); 
  padding: 10px; /* Adds 10 pixels of padding around the content */
  /* border: 2px solid black;  */
  text-align: center; /* Centers the text horizontally */
  border-radius: 10px; 
  font-weight: bold;
}

body {
  border-radius: 5px;
  border: 2px solid rgb(183, 196, 227);
  padding: 10px;
  background-color: rgba(206, 228, 231, 0.184);
  /* background-color: #92818ed1; */
}


#chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#narrative_text {
  padding: 5px;
  padding-top:15px;

}

#scene1, #scene2, #scene3 {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #4b5b6c;
  border: 2px solid #4290e4;
  border-radius: 1px;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 20px; 
}

#scene1:hover, #scene2:hover, #scene3:hover  {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.05);
  font-weight: bold;
}

.annotation-note {
  font-family: sans-serif;
  font-size: 12px;
}

path.connector {
  stroke: rgb(231, 18, 18);
  fill: none;
  }
